@keyframes shift {
  0% {
    text-shadow: 2px 0px 0px #00f, 4px 0px 0px #00f, 6px 0px 0px #00f;
  }
  50% {
    text-shadow: 12px 0px 0px #00f, 16px 0px 0px #00f, 20px 0px 0px #00f; /* Ponto máximo */
  }
  100% {
    text-shadow: 6px 0px 0px #00f, 8px 0px 0px #00f, 10px 0px 0px #00f; /* Metade do caminho */
  }
}

.title-animation {
  animation: shift 2s ease forwards; /* Animação de 2 segundos que termina na posição final */
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
